.jumbotron {
    /* background-image: url(); */
    background-color: lavenderblush;
    background-size: cover;
}

.jumbotron h1{
    font-family: 'Unbounded', cursive;
}

.drink-btn{
    background-color:brown;
    color: white;
    border-color: brown;
}
.drink-btn:hover{
    background-color: grey;
    border-color: grey;
}
.drink-btn:active{
    background-color:brown;
    border-color: brown
}